<a href="https://colab.research.google.com/github/DeneshwaraSai/Dinu/blob/master/course/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}
d

{'a': 10, 'b': 20, 'c': 30}

In [3]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data = my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [7]:
labels

['a', 'b', 'c']

In [8]:
pd.Series(data = [sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [9]:
ser1 =  pd.Series([1,2,3,4,5,6],['A','B','C','D','E','F'])

In [10]:
ser1[0]

1

In [11]:
ser1['D']

4

In [12]:
ser2 =  pd.Series([9,8,9,4,11,12],['A','H','I','D','K','L'])
ser2

A     9
H     8
I     9
D     4
K    11
L    12
dtype: int64

In [13]:
ser1 + ser2

A    10.0
B     NaN
C     NaN
D     8.0
E     NaN
F     NaN
H     NaN
I     NaN
K     NaN
L     NaN
dtype: float64

# **DataFrames**

In [14]:
from numpy.random import randn

In [15]:
np.random.seed(101)

In [16]:
np.random.randint(1,20,2)

array([12, 18])

In [17]:
randn(5,4)

array([[ 0.0024804 , -0.03626117,  0.61577781, -1.68123287],
       [ 0.86379123, -0.72417721,  0.91035914,  2.39810814],
       [ 1.43125938,  0.42334746,  0.06208316,  0.2658639 ],
       [-0.09519518,  0.63311363, -0.21413838,  1.43666095],
       [-0.28511481,  0.26328773,  1.51080327,  1.69877827]])

In [18]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A -0.396821 -2.898352  0.769996  0.546213
B  1.168932  0.988046  0.987614  0.447440
C  1.088018 -0.601886 -0.275224  1.036303
D -0.280614  0.362828 -0.025775 -0.212393
E  0.838518  2.197012  1.590361 -0.578354

In [19]:
df['W']

A   -0.396821
B    1.168932
C    1.088018
D   -0.280614
E    0.838518
Name: W, dtype: float64

In [20]:
print(type(df))
print(type(df['W']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [21]:
df.W

A   -0.396821
B    1.168932
C    1.088018
D   -0.280614
E    0.838518
Name: W, dtype: float64

In [22]:
df[['W','Z']]

          W         Z
A -0.396821  0.546213
B  1.168932  0.447440
C  1.088018  1.036303
D -0.280614 -0.212393
E  0.838518 -0.578354

In [23]:
df['new'] = df['W'] + df['Z']
df

          W         X         Y         Z       new
A -0.396821 -2.898352  0.769996  0.546213  0.149392
B  1.168932  0.988046  0.987614  0.447440  1.616372
C  1.088018 -0.601886 -0.275224  1.036303  2.124322
D -0.280614  0.362828 -0.025775 -0.212393 -0.493006
E  0.838518  2.197012  1.590361 -0.578354  0.260165

In [24]:
df.drop('new', axis=1,inplace=True)
df

          W         X         Y         Z
A -0.396821 -2.898352  0.769996  0.546213
B  1.168932  0.988046  0.987614  0.447440
C  1.088018 -0.601886 -0.275224  1.036303
D -0.280614  0.362828 -0.025775 -0.212393
E  0.838518  2.197012  1.590361 -0.578354

**axis = 1 => will delete a column and inplace = True**

**axis = 0 => will delete a row**

In [25]:
df.drop("E", axis=0)

          W         X         Y         Z
A -0.396821 -2.898352  0.769996  0.546213
B  1.168932  0.988046  0.987614  0.447440
C  1.088018 -0.601886 -0.275224  1.036303
D -0.280614  0.362828 -0.025775 -0.212393

In [26]:
df.shape

(5, 4)

In [27]:
  df[['Z','X']]

          Z         X
A  0.546213 -2.898352
B  0.447440  0.988046
C  1.036303 -0.601886
D -0.212393  0.362828
E -0.578354  2.197012

In [28]:
df[['W']] 
# Col's

          W
A -0.396821
B  1.168932
C  1.088018
D -0.280614
E  0.838518

In [29]:
# To access Rows Only
# Location
df.loc['A']

W   -0.396821
X   -2.898352
Y    0.769996
Z    0.546213
Name: A, dtype: float64

In [30]:
# Index based Location
df.iloc[0]

W   -0.396821
X   -2.898352
Y    0.769996
Z    0.546213
Name: A, dtype: float64

```
# Two ways of selecting Rows   
# 1) df.loc['A']
# 2) df.iloc[1]
```

In [31]:
df.loc['B','Y']

0.9876144388748017

In [32]:
df.loc[['A','B'],['W','Y']]

          W         Y
A -0.396821  0.769996
B  1.168932  0.987614

# **DataFrames Part 2**